<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">

	<bean id="userDAO" class="net.liuxuan.database.dao.UserDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="testmain" class="net.liuxuan.spring.testmain">
		<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>


	
		
	

	<bean id="userService" parent="transactionBase">
		<property name="target">
			<bean class="net.liuxuan.database.service.UserServiceImpl"/>
		</property>
	</bean>
	
</beans>
