<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<!-- Servlets -->
	<servlet>
		<servlet-name>Easyqb</servlet-name>
		<servlet-class>net.liuxuan.easyqb.EasyqbServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Easyqb</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.mosliu.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/digitgame/greet</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
